p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #0e294F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
    padding-bottom: 15px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
}

.nav-content a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.small-profile {
    height: 140px;
}

.horizontal-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile h2 {
    margin-top: 50px;
}
.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.small-profile .profile-picture {
    height: 100px;
}


.profile-picture {
    border-radius: 50%;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.content {
    text-align: center;
    margin: 0 10% 0 10%;
}

.social-media img {
    display: inline-block;
}

.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
}

.experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
}

.experience img {
    min-width: 100px;
    max-width: 120px;
}

.experience h3 {
    display: inline;
}

.experience h4 {
    display: inline;
}

.experience small {
    display: inline;
}

.experience p {
    display: inline;
}

.hobbies-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hobbies-column {
    display: flex;
    flex-direction: column;
}

.hobby img {
    border-radius: 50px;
    width: 560px;
}

.maps {
    margin: auto;
    width: 640px;
}

#submit-timeline-post {
    background-color: #d1e4ff;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
}

#submit-timeline-post > * {
    border-radius: 0.5em;
    border: 0;
    margin: 2px;
}

#timeline {
    display: flex;
    flex-wrap: wrap;
}

#post-timeline-error {
    background-color: #ffd1d1;
    border-radius: 30px;
    width: 10em;
    margin: auto;
    margin-bottom: 30px;
    padding:10px;
}

.timeline-post {
    background-color: #d1e4ff;
    border-radius: 30px;
    width: 20%;
    margin: 10px;
}
