{% extends 'base.html' %}
{% block content %}
<div class="profile small-profile">
    <div class="horizontal-profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/alex.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>
    <h2>Experience</h2>
        <div class="experience">
            <img src="https://tec.mx/sites/default/files/favicon.ico">
            <div>
                <h3>Research Assistant</h3><br/>
                <h4>Instituto Tecnológico y de Estudios Superiores de Monterrey, Campus Guadalajara</h4><br/>
                <small>09/21 - 03/22</small><br/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            <div>
        </div>
</div>
{% endblock content %}