{% extends 'base.html' %}
{% block content %}
<div class="profile small-profile">
    <div class="horizontal-profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/alex.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>
    <h2>Hobbies</h2>
    <div class="hobbies-container">
        <div class="hobbies-column">
            {% for hobby in hobbies[:length//2] %}
                <div class="hobby">
                    <img src="{{hobby["image-url"]}}">
                    <small>{{hobby["text"]}}</small>
                </div>
            {% endfor %}
        </div>
        <div class="hobbies-column">
            {% for hobby in hobbies[length//2:] %}
                <div class="hobby">
                    <img src="{{hobby["image-url"]}}">
                    <small>{{hobby["text"]}}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}